
body {
    display: flex;
    justify-content: center;
}

.todo-panel {
    width: 35em;
    min-height:30em;
    margin-top: 3em;
   
    border: 1px solid #eee;
    box-shadow: 4px 6px 6px #888;
}

#header {
    text-align: center;
    color: white;
    width: 35em; 
    padding: 1px;
}

.todo-editor{
    padding: 5px 30px;
    display:flex;
}

.todo-editor input{
    flex-grow: 1;
    font-size: 1.2em;
    padding: 2px 5px;
}