
body {
    display: flex;
    justify-content: center;
}

.todo-panel {
    width: 35em;
    min-height:30em;
    margin-top: 3em;
   
    border: 1px solid #eee;
    box-shadow: 4px 6px 6px #888;
}

#header {
    text-align: center;
    color: white;
    width: 35em; 
    padding: 1px;
}

.todo-editor{
    padding: 5px 30px;
    display:flex;
}

.todo-editor input{
    flex-grow: 1;
    font-size: 1.2em;
    padding: 2px 5px;
}

.todo-items{
    padding: 5px 30px;
}

.todo-items > .task {
    display: flex;
    align-items: center;
}

.todo-items > .task > input {
    width: 1.5em;
    height: 1.5em;
}


.todo-items > .task > label {
    flex-grow: 1;
}

 .todo-items .ctrlbar > button {
    border: none;
    background: none;
    color: rgb(47, 139, 179);
    cursor: pointer;
} 

.todo-items .ctrlbar > button {
    border: none;
    background: none;
    color: rgb(47, 139, 179);
    cursor: pointer;
}

.todo-items .ctrlbar > button:disabled {
    color: rgb(122, 142, 150);
    /* cursor: pointer; */
}

.todo-items .ctrlbar > button:disabled:hover {
    font-weight: unset;
    
}

.todo-items .ctrlbar > button:hover {
    font-weight: bolder;
    
}

.task.done > label {
    text-decoration: line-through;
}